
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task {
  background-color: #f9d5a3;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  width: 900px;
  text-align: center;
}

button {
  
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


